/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Expletus Sans", cursive;
}

::-webkit-scrollbar {
  width: 6px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(37, 37, 37, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  color: white;
}
